head {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* LOGO */
.logo {
  float: left; /* Float the logo to the left side */
}

.logo img {
  width: 50px; /* Set the width of the logo */
  height: 50px;
  margin-left: 15px;
}

/* NAVBAR */
nav {
  background-color: #201e20;
  overflow: hidden;
  padding: 10px 0; /* Menambahkan padding yang lebih besar di atas dan bawah */
  text-align: right; /* Mengatur teks di sebelah kanan */
  position: fixed;
  height: 50px; /* Menyesuaikan tinggi navbar */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.list-navbar {
  display: flex;
  justify-content: flex-end; /* Mengatur elemen di sebelah kanan secara horizontal */
  align-items: center; /* Mengatur elemen di tengah secara vertikal */
  height: 100%; /* Mengisi tinggi navbar */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-top: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin: 0 15px;
  padding: 14px 14px; /* Increase padding to make the navbar elements bigger */
  text-decoration: none;
  font-size: 19px; /* Increase font size */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  line-height: 3px; /* Set line-height equal to navbar height to center vertically */
}

li a:hover {
  background-color: #ffffff; /* Change background color on hover */
  color: black; /* Saat dihover berubah warna */
}

/* CONTENT1 */
.content1 {
  display: flex; /* Use flexbox for side-by-side layout */
  justify-content: space-between; /* Space evenly between text and image */
  align-items: center; /* Center vertically */
  padding: 25px; /* Add padding for spacing */
  margin-top: 50px;
  z-index: 0;
}

/* TEXT-CONTENT1 */
.text-content1 {
  flex: 1; /* Allow the text container to grow and fill available space */
  padding: 20px; /* Add padding for spacing */
  text-align: left; /* Align text to the left */
}

.text-content1 h1 {
  font-size: 45px; /* Adjust the title's font size */
  font-style: italic;
}

/* IMAGE-CONTENT1 */
.image-content1 {
  padding: 40px; /* Add padding for spacing */
  text-align: right; /* Align the image to the right */
}

.image-content1 img {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

/* Phone Responsif */
@media screen and (max-width: 767px) {
  .content1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .text-content1 {
    padding: 10px;
    flex: 0; /* Allow the text container to grow and fill available space */
    text-align: center; /* Align text to the left */
    font-style: italic;
    font-size: 16px;
  }

  .text-content1 h1 {
    font-size: 30px;
    margin: 10px;
  }

  .image-content1 {
    padding: 20px;
    text-align: center;
  }
}

footer {
  background-color: #201e20;
  color: #fff;
  padding: 10px 0; /* Mengurangi padding pada atas dan bawah */
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  text-align: center;
}

.footer-section h3,
.footer-section h4 {
  font-size: 15px; /* Menyesuaikan ukuran font */
  margin: 10px 0; /* Menyesuaikan margin */
  text-align: center;
}

/* Phone Responsif */
@media screen and (max-width: 767px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }

  .footer-section h3 h4 {
    text-align: center;
    margin: 10px;
  }
}
